@import 'scss/_colors.scss';

.CustomTextArea {
  textarea {
    border: 0;
    border-radius: 8px;
    width: 100%;
    padding: 16px;
    font-size: 16px;
    color: $dark-gray;
    background-color: $medium-gray;
  }

  p {
    color: $dark-gray;
    font-size: 16px;
  }
}
